.image1{
  height: 100%;
}

p{
  display: block;
  padding-left: 150px;
  padding-right: 150px;
  text-align: justify;
}

.contrast{
  background-color: #F8F9F9;
}

h1{
  font-size: 1.5em;
}

h2{
  font-size: 1em;
}

.col-sm-6{
  text-align: center;
}

.carousel-item{
  transform: .2s ease;
}

.footer{
  position: bottom;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
